body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 1;
}

.logo {
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.mowm {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup_box {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  padding: 50px;
  width: 430px;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.signup_box h2 {
  margin-bottom: 8px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.signup_box p {
  margin-bottom: 28px;
  color: #4E2705;
  text-align: center;
}

.buttons {
  display: flex;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
}

.login {
  text-decoration: none;
  padding: 10px 0;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  transition: background 0.3s;
  background-color: #dc7259;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login:hover {
  background-color: #c45f4a;
}

@media(max-width:900px) {
    .signup_box {
        left: 50%;
        width: calc(100% - 55px);
        transform: translate(-50%, -50%);
        padding: 28px 20px;
    }
    .signup_box p,
    .buttons,
}