body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 1;
}

.logo {
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.mowm {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-box {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  width: 430px;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.intro-box h2 {
  margin-bottom: 27px;
  text-align: center;
  color: #dc7259;
  font-size: 35px;
}

.intro-box p {
  margin-bottom: 45px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 40px;
  width: 78%;
  margin: 0 auto;
}

.signup, .login {
  text-decoration: none;
  padding: 12px 0;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  transition: background 0.3s;
  background-color: #dc7259;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signup:hover, .login:hover {
  background-color: #c45f4a;
}

@media(max-width:900px) {
    .intro-box {
        left: 50%;
        width: calc(100% - 55px);
        transform: translate(-50%, -50%);
        padding: 28px 20px;
    }
    .intro-box p,
    .buttons,
}